/* ------------------------------ */
/* Navigation part   (logo + nav) */
/* ------------------------------ */
.nav-wrapper {
    flex-direction: column;
    margin-left: 0;
    margin-right: 0;
}

.nav-logo {
    display: flex;
    justify-content: center;
}

.nav-links a {
    font-size: 16px;
}

.nav-wrapper a {
    flex:1;
    text-align: center;
}

.nav-wrapper a:nth-child(1) {
    padding-bottom: 10px;
    border-bottom: 4px solid #0065FC;
    border-top: none; 
}

.nav-wrapper a:nth-child(2) {
    padding-bottom: 10px;
    border-bottom: 4px solid #c2bdbd8c;
}

.nav-wrapper a:nth-child(2):hover {
    border-bottom-color:#0065FC ;
    border-top-color:white;
}

/* ------------------------------- */
/* Header part (text + search bar) */
/* ------------------------------- */
#header-search-btn-mobile {
    width: 44px;
    height: 44px;
    right: -3px;
    bottom: 0;
    position: absolute;
    visibility:visible;
    border: none;
    border-radius: 15px;
    color: white;
    background-color: #0065FC;
}

#header-search-btn-mobile:hover {
    cursor: pointer;
}

.header-search-btn {
    display: none;
}

#header-search-input_city {
    right: 29px;
}

#header-search-bar {
    width: 280px;
}

/* ----------------------------------------------- */
/* Filter section part (filter + information text) */
/* ----------------------------------------------- */
#filter-content {
    align-items: flex-start;
    flex-direction: column;
}

#filter-content ul {
    padding-left: 0;
}

#filter-content p {
    margin-bottom: 0;
}

/* ---------------------------------------------------------------------------------------- */
/* Accomodations section part ( presentation text + list of accomodations + show more text) */
/* ---------------------------------------------------------------------------------------- */
#card-accomodation-wrapper {
    height: auto;
    padding: 0;
    border-radius: 0;
    background-color:white;
}

#card-accomodation-wrapper h2 {
    margin-left: 0;
}

.card-accomodation-link {
    width: 100%;
    margin: 1.65% 0 1.65% 0;
}

#card-accomodation-popular-wrapper {    
    width: 100%;
    border-radius: 0;
    margin: 0;
    padding: 4%;
}

#card-accomodation-popular-list {
    flex-direction: column;
}

.card-accomodation-popular-link {
    width: 100%;
    margin: 1.65% 0 1.65% 0;
}

#card-accomodation-popular-text-icon {
    padding: 0;
}

.card-accomodation-link:nth-child(1) .card-accomodation__img {
    content:url("../assets/img/accommodations/3_medium/marcus-loke-WQJvWU_HZFo-unsplash.jpg");
}

.card-accomodation-link:nth-child(2) .card-accomodation__img {
    content:url("../assets/img/accommodations/3_medium/fred-kleber-gTbaxaVLvsg-unsplash.jpg");
}

.card-accomodation-link:nth-child(3) .card-accomodation__img {
    content:url("../assets/img/accommodations/3_medium/reisetopia-B8WIgxA_PFU-unsplash.jpg");
}

.card-accomodation-link:nth-child(4) .card-accomodation__img {
    content:url("../assets/img/accommodations/3_medium/annie-spratt-Eg1qcIitAuA-unsplash.jpg");
}

.card-accomodation-link:nth-child(5) .card-accomodation__img {
    content:url("../assets/img/accommodations/3_medium/nicate-lee-kT-ZyaiwBe0-unsplash.jpg");
}

.card-accomodation-link:nth-child(6) .card-accomodation__img {
    content:url("../assets/img/accommodations/3_medium/febrian-zakaria-M6S1WvfW68A-unsplash.jpg");
}

.card-accomodation-show-more-font-size {
    margin: 20px 0 0 0;
}

/* -------------------------------------------------------------------------------------- */
/* Accomodations popular section part (presentation text + icon + list of accomodations)  */
/* -------------------------------------------------------------------------------------- */
.card-activity-list {
    flex-wrap: nowrap;
    height:auto;
}

.card-activity-link {
    width: 100%; 
    margin: 1.65% 0 1.65% 0;
}

.card-activity-link:nth-child(1) {
    height:160px;
}

.card-activity-link:nth-child(2) {
    height:160px;
}

.card-activity-link:nth-child(3) {
    height:160px;
}

.card-activity-link:nth-child(4) {
    height:160px;
}

.card-activity-link:nth-child(5) {
    height:160px;
}

.card-activity-link:nth-child(6) {
    height:160px;
}

.card-activity-link:nth-child(1) .card-activity__img {
    content:url("../assets/img/accommodations/3_medium/marcus-loke-WQJvWU_HZFo-unsplash.jpg");
}

.card-activity-link:nth-child(2) .card-activity__img {
    content:url("../assets/img/activities/3_medium/paul-hermann-QFTrLdQIRhI-unsplash.jpg");
}

.card-activity-link:nth-child(3) .card-activity__img {
    content:url("../assets/img/activities/3_medium/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg");
}

.card-activity-link:nth-child(4) .card-activity__img {
    content:url("../assets/img/activities/3_medium/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg");
}

.card-activity-link:nth-child(5) .card-activity__img {
    content:url("../assets/img/activities/3_medium/florian-wehde-xW9e8gdotxI-unsplash.jpg");
}

.card-activity-link:nth-child(6) .card-activity__img {
    content:url("../assets/img/activities/3_medium/lena-paulin-wH2-EJoDcV0-unsplash.jpg");
}

.footer_list {
    flex-direction: column;
}