/* ------------------ */
/* General parameters */
/* ------------------ */

body {
    font-family: 'Raleway', sans-serif;
    /* font-size: 10px; */
    margin: 0;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.main-wrapper {
    max-width: 992px;
    max-height: 100%; 
    margin-left: auto;
    margin-right: auto;
}

.footer_wrapper {
    max-width: 100%;
}

@media screen and (max-width: 991px) {
    .header-wrapper, .filter-wrapper, .card-accomodation-wrapper,.card-accomodation-popular-wrapper, #card-activity-wrapper  {
        margin: 0 4% 0 4%;  
    }

    .nav-wrapper {
        margin: 0 4% 30px 4%;
    }    
}

/* ------------------ */
/* Font size managing */
/* ------------------ */

.main-title-font-size {
    font-size: 20px;
    font-weight: bold;
}

.card-accomodation-show-more-font-size{
    font-size: 17px;
    font-weight: bold;
}

.header-search-btn, .header-search-input_city, .filter-font-size {
    font-size: 16px;
    font-weight: bold;
}

.footer-title-font-size, .font-size-title-card {
    font-size: 14px;
    font-weight: bold;
    margin:0;
}

.nav-font-size {
    font-size: 15px;
    font-weight: bold;
}

.main-font-size-description, .font-size-description-card, .footer-font-size-description, .font-size-description-card {
    font-size: 14px;
}

/* ------------------------------ */
/* Navigation part   (logo + nav) */
/* ------------------------------ */

.nav-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.nav-logo {
    height: 70px;
    padding-top: 25px;
    margin-top: 10px;
}

.nav-logo img {
    width: auto; 
    height: 100%; 
}

.nav-links {
    display: flex;
}

.nav-wrapper a {
    padding: 43px 20px 0 20px;
    color: black;
    text-decoration: none;
}

.nav-wrapper a:nth-child(1) {
    padding-top: 41px;
    color: #0065fc;
    border-top: 2px solid #0065FC;
}

.nav-wrapper a:nth-child(2):hover {
    padding-top: 41px;
    border-top: 2px solid #0065FC;
    color: #0065fc;
}

@media screen and (max-width: 767px) {
    .nav-wrapper {
        flex-direction: column;
        margin-left: 0;
        margin-right: 0;
    }
    
    .nav-logo {
        display: flex;
        justify-content: center;
    }
    
    .nav-links a {
        font-size: 16px;
    }
    
    .nav-wrapper a {
        flex:1;
        text-align: center;
    }
    
    .nav-wrapper a:nth-child(1) {
        padding-bottom: 10px;
        border-bottom: 4px solid #0065FC;
        border-top: none; 
    }
    
    .nav-wrapper a:nth-child(2) {
        padding-bottom: 10px;
        border-bottom: 4px solid #c2bdbd8c;
    }
    
    .nav-wrapper a:nth-child(2):hover {
        border-bottom-color:#0065FC ;
        border-top-color:white;
    }
}

/* ------------------------------- */
/* Header part (text + search bar) */
/* ------------------------------- */
.header-text p {
    margin: 10px 0 10px 0
}

.header-text h1 {
    margin: 0;
}

.header-search-bar {
    width: 400px;
    height: 48px;
    position: relative;
    padding-bottom: 15px;
}

.header-search-icone {
    width: 40px;
    height: 44px;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    border-radius: 15px 0 0 15px;
    font-size: 16px;
    background-color: #F2F2F2;
}

.header-search-input_city {
    width: 211px;
    height: 44px;
    right: 149px;
    bottom: 0;
    position: absolute;
    padding-left: 11px;
    border: 1px solid #F2F2F2;
}

.header-search-input_city::placeholder {
    color: black;
}

.header-search-btn {
    width: 121px;
    height: 44px;
    right: 28px;
    bottom: 0;
    position: absolute;
    border: none;
    border-radius: 0 15px 15px 0;
    color: white;
    background-color: #0065fc;
}

#header-search-btn-mobile {
    visibility: hidden;
}

.header-search-btn:hover {
    cursor: pointer;
}

@media screen and (max-width: 767px) {
    #header-search-btn-mobile {
        width: 44px;
        height: 44px;
        right: -3px;
        bottom: 0;
        position: absolute;
        visibility:visible;
        border: none;
        border-radius: 15px;
        color: white;
        background-color: #0065FC;
    }
    
    .header-search-btn-mobile:hover {
        cursor: pointer;
    }
    
    .header-search-btn {
        display: none;
    }
    
    .header-search-input_city {
        right: 29px;
    }
    
    .header-search-bar {
        width: 280px;
    }
}

/* ----------------------------------------------- */
/* Filter section part (filter + information text) */
/* ----------------------------------------------- */
.filter-content {
    display: flex;
    align-items: center;
    margin: 15px 0 15px 0;
}

.filter-content h2 {
    margin: 0;
}

.filter-content ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style-type: none;
    padding-left: 20px;
}

.filter-content ul li {
    width: auto;
    height: 44px;
    display: flex;
    align-items: center;
    padding-right: 12px;
    margin-right: 13px;
    border: solid 2px #c2bdbd8c;
    border-radius: 20px;
}

.filter-content__circle-icon {
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 0 10px 0 -3px;
    background-color: #DEEBFF;
    color: #0065fc;
}

.filter-content ul li:hover {
    background: #0065FC;
    color: white;
    cursor: pointer;
}

.filter-info {
    width: 100%;
    height: 20px;
    display: flex;
    align-items: center;
    padding: 5px 0 10px 0;
}

.filter-circle-icon {
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px #c2bdbd8c;
    border-radius: 50%;
}

.fa-info {
    color: #0065fc;
    font-size: 10px;
}

.filter-info p {
    margin-left: 5px;
}

@media screen and (max-width: 991px) {
    .filter-content ul li, .filter-content h2  {
        margin-bottom: 12px;
    }    
}

@media screen and (max-width: 767px) {
    .filter-content {
        align-items: flex-start;
        flex-direction: column;
    }
    
    .filter-content ul {
        padding-left: 0;
    }
    
    .filter-content p {
        margin-bottom: 0;
    }
}

/* ---------------------------------------------------------------------------------------- */
/* Accomodations section part ( presentation text + list of accomodations + show more text) */
/* ---------------------------------------------------------------------------------------- */
#accomodation-wrapper {
    max-width: 992px;
    display: flex;
    justify-content: space-between;
    padding: 20px 0 20px 0;
}

.card-accomodation-wrapper {
    width: 65%;
    height: 483px;
    display: flex;
    flex-direction: column;
    padding: 1%;
    border-radius: 15px;
    background-color: #F2F2F2;
}

.card-accomodation-list {
    display: flex;
    flex-wrap: wrap;  
}

.card-accomodation-link {
    width: 30%;
    height: 160px;
    margin: 1.65%;
    text-decoration: none;
    color: black;
}

.card-accomodation {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 5px;
    border-radius: 15px;
    transition: 0.3s;
    box-shadow: 0 4px 8px 0 rgba(0, 101, 252, 0.2);
    background-color: white;
}
  
.card-accomodation-wrapper h2 {
    margin-left: 1.65%;
}

.card-accomodation-show-more-text {
    display: flex;
    align-items: center;
    height: 100%;
}

.card-accomodation-show-more-font-size {
    color: black;
    text-decoration: none;
    margin-left: 1.65%;
}

.card-accomodation:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 101, 252, 0.8);
}
  
.card-accomodation__img {
    width: 100%;
    height: 60%;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}

.card-accomodation__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 40%;
    padding-left: 2%;
}

.card-accomodation-price-font-weight{
    font-weight: bold;
}

.font-size-title-card, .card-accomodation__content, .font-size-description-card, .card-accomodation__content i {
    margin: 0.7% 0 0 0;
}

@media screen and (max-width: 991px) {
    #accomodation-wrapper {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
    }

    .card-accomodation-wrapper {
        width: 92%;
        display: flex;
        flex-direction: column;
        margin-top: 20px;
    }
}

@media screen and (max-width: 767px) {
    .card-accomodation-wrapper {
        height: auto;
        padding: 0;
        border-radius: 0;
        background-color:white;
    }

    .card-accomodation-wrapper h2 {
        margin-left: 0;
    }
    
    .card-accomodation-link {
        width: 100%;
        margin: 1.65% 0 1.65% 0;
    }

    .card-accomodation-show-more-font-size {
        margin: 20px 0 0 0;
    }
}

/* -------------------------------------------------------------------------------------- */
/* Accomodations popular section part (presentation text + icon + list of accomodations)  */
/* -------------------------------------------------------------------------------------- */
.card-accomodation-popular-wrapper {
    width: 32%;
    height: 483px;
    display: flex;
    flex-direction: column;
    padding: 1%;
    border-radius: 15px;
    background-color: #F2F2F2;
}

.card-accomodation-popular-text-icon {
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 0 3% 0 3%
}

.card-accomodation-popular-icon_center {
    display: flex;
    align-items: center;
    font-size: 22px;
}

.card-accomodation-popular-list {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.card-accomodation-popular-link {
    width: 94%;
    height:29%;
    color: black;
    text-decoration: none;
    margin: 3%;
}

.card-accomodation-popular {
    width: 100%;
    height: 100%;
    display: flex;
    padding: 5px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 101, 252, 0.2);
    transition: 0.3s;
}

.fa-star-blue {
    color:#0065fc;
    font-size: 11px;
}

.fa-star-grey {
    color:#d3d1d1;
    font-size: 11px;
}

.card-accomodation-popular__resize-image {
    width: 70%;
    height: 100%;
} 

.card-accomodation-popular__image {
    width: 100%;
    height: 100%;
    object-fit: cover;  
    border-radius: 15px 0 0 15px;
}
  
.card-accomodation-popular:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 101, 252, 0.8);
}

.card-accomodation-popular__content {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 3%;
}

.card-accomodation-popular__description h3, .card-accomodation-popular__description p {
    padding-top: 5px;
}


@media screen and (max-width: 991px) {
    .card-accomodation-popular-wrapper {
        width: 92%;
        height: auto;
    }
    
    .card-accomodation-popular-list {
        flex-direction: row;
    }
    
    .card-accomodation-popular-link {
        width: 31%;
        height: 120px;
        margin: 1.65%;
    }
    
    .card-accomodation-popular-text-icon {
        padding: 0 1.65% 0 1.65%;
    }
}

@media screen and (max-width: 767px) {
    .card-accomodation-popular-wrapper {    
        width: 100%;
        border-radius: 0;
        margin: 0;
        padding: 4%;
    }

    .card-accomodation-popular-list {
        flex-direction: column;
    }

    .card-accomodation-popular-link {
        width: 100%;
        margin: 1.65% 0 1.65% 0;
    }

    .card-accomodation-popular-text-icon {
        padding: 0;
    }
}

/* ------------------------------------------------------------------ */
/* Activities section part ( presentation text + list of Activities)  */
/* ------------------------------------------------------------------ */

#card-activity-wrapper {
    padding: 10px 0 40px 0;
}

.card-activity-list {
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card-activity {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 101, 252, 0.2);
    transition: 0.3s;
}

.card-activity__img-resize {
    width: 100%;
    height: calc(100% - 40px);
}

.card-activity__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}

.card-activity__title {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    padding-left: 15px;
}

.card-activity:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 101, 252, 0.8);
}

/* Activity 1 */
.card-activity-link {
    width: 22%;
    height: 350px;
    margin-right: 4%;
    text-decoration: none;
    color: black;
}

/* Activity 2 */
.card-activity-link:nth-child(2) {
    height: 195px;
}

/* Activity 3 */
.card-activity-link:nth-child(3) {
    height: 125px;
}

/* Activity 4 same than activity 1 */

/* Activity 5 */
.card-activity-link:nth-child(5) {
    height: 155px;
}

/* Activity 6 */
.card-activity-link:nth-child(6) {
    height: 165px;
}

@media screen and (max-width: 767px) {
    .card-activity-list {
        flex-wrap: nowrap;
        height:auto;
    }

    .card-activity-link {
        width: 100%; 
        margin: 1.65% 0 1.65% 0;
    }

    .card-activity-link:nth-child(1) {
        height:160px;
    }

    .card-activity-link:nth-child(2) {
        height:160px;
    }

    .card-activity-link:nth-child(3) {
        height:160px;
    }

    .card-activity-link:nth-child(4) {
        height:160px;
    }

    .card-activity-link:nth-child(5) {
        height:160px;
    }

    .card-activity-link:nth-child(6) {
        height:160px;
    }
}

/* ---------------------------------------------- */
/* Footer part (split into three lists of links)  */
/* ---------------------------------------------- */
.footer_wrapper {
    display: flex;
    justify-content: center;
    padding: 40px 0 20px 0;
    background-color: #F2F2F2;
}

.footer_list {
    display: flex;
    width: 992px; 
}

.footer_content {
    display: flex;
    flex-direction: column;
}

.footer_content ul {
    padding-left: 0;
    list-style-type: none;
}

.footer_content li {
    padding-top: 6px;
}

.footer_content a {
    text-decoration: none;
    color: black;
}

.footer_content:nth-of-type(1) {
    flex: 1.3;
}

.footer_content:nth-of-type(2) {
    flex: 1.3;
}

.footer_content:nth-of-type(3) {
    flex: 1.3;
}

.footer_content a:hover {
    color: #0065fc;
}

@media screen and (max-width: 991px) {
    .footer_list {
        padding-left: 4%;
    }
}

@media screen and (max-width: 767px) {
    .footer_list {
        flex-direction: column;
    }
}


