nav, header, main, footer  {
    max-width: 991px;
    max-height: auto;
    margin-left: 4%;
    margin-right: 4%;
}

/* ---------------------------------- */
/* Section: Hébergement de Marseille  */
/* -----------------------------------*/

#hebergement {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
}

#hebergement_marseille {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    background-color: white;
    width: 100%;
}

#container_hebergement {
    justify-content:space-between;
}

#container_hebergement section {
    width: 32%;
}

/* -------------------------------------------- */
/* Section: Hébergement pupulaire de Marseille  */
/* ---------------------------------------------*/

#hebergement_marseille_pupulaire {
    width: 100%;
    height: auto;
}

#container_populaire {
    flex-direction: row;

}

#container_populaire section {
    width: 32%;
}