/* --------------------------- */
/* Paramètres généraux du site */
/* --------------------------- */

/* Par défaut tout le textuel va être en font-size: 10px */
body {
    font-family: 'Raleway', sans-serif;
    font-size: 10px;
    margin: 0;
}

/* Les balises parents et enfant de html auront la propriété box-sizing: border-box */
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/* Gestion des polices du site */
/* - theme = 20px 
- important = 18px
- description = 12px */

h2 {
    font-size: 20px;
    font-weight:bold;
}

.afficher_plus{
    font-size: 17px;
    font-weight:bold;
}

.important, .bouton_rechercher, #barre_ville {
    font-size: 16px;
    font-weight:bold;
}

.nom_hotel_activite {
    font-size: 14px;
    font-weight:bold;  
}

.description {
    font-size: 14px;
}

/* Gestion de la taille des balises sémantiques */
nav, header, main  {
    max-width: 992px;
    max-height: 100%; 
    margin-left: auto;
    margin-right: auto;
}

footer {
    max-width: 100%;
}

/* ------------------------------- */
/* Nav =  Logo Booki + navigation  */
/* ------------------------------- */

/* Tous les groupes d'élement du header vont être aligné sur une largeur max de 992px */
/* Le logo booki et la barre de navigation sont de part et d'autre de l'écran */

nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

/* width: auto sert à garder une dimension proportionnelle de l'image */
#logo_booki {
    height: 70px;
    padding-top: 25px;
    margin-top: 10px ;
}

#logo_booki img {
    width: auto; 
    max-height: 100%; 
}

/* Nous voulons que les élements de navigation soient alignés */

#nav_booki {
    display: flex;
}

/* Les bordures internes ont été choisi de tel sorte pour penser au surlignage  */
nav a {
    padding-left: 20px;
    padding-right: 20px;
    color: black;
    text-decoration: none;
    padding-top: 43px;
}

nav a:nth-child(1) {
    color: #0065fc;
    padding-top: 41px;
    border-top: 2px solid #0065FC;
}


nav a:nth-child(2):hover {
    text-decoration: none;
    color: #0065fc;
    padding-top: 41px;
    border-top: 2px solid #0065FC;
}


/* -------------------------------- */
/* Header: introduction de la page  */
/* -------------------------------- */

#texte_hebergement p {
    margin-top: 10px;
    margin-bottom: 15px;
}

/* Dimension et positionnement général de la barre de recherche 
(icone + Input text + Bouton Rechercher) */

#barre_recherche {
    width: 400px;
    height: 48px;
    position: relative;
    padding-bottom: 15px;
}

/* On se sert de la position absolue de la barre de recherche pour positionner
l'icone, Input text et Bouton Rechercher */

#container_ico_rechercher {
    position: absolute;
    bottom: 0;
    width:40px;
    height: 44px;
    text-align: center;

    font-size: 16px;
    background-color: #F2F2F2;
    border-radius: 15px 0 0 15px;
}

.fa-map-marker-alt {
    margin-top: 13px;
}

#barre_ville {
    position: absolute;
    bottom: 0;
    right: 149px;
    width: 211px;
    height: 44px;

    padding-left: 11px;
    font-weight: bold;
    border: 1px solid #F2F2F2;
}

#barre_ville::placeholder {
 color: black;
}

.bouton_rechercher {
    position: absolute;
    bottom: 0;
    right: 28px;
    width: 121px;
    height: 44px;

    color: white;
    border: none;
    border-radius: 0 15px 15px 0;
    background-color: #0065fc;
}

#button-research2 {
    visibility:hidden;
}

.bouton_rechercher:hover {
    cursor: pointer;
}

/* ---------------- */
/* Section: Filtre  */
/* -----------------*/

/* Header (3): Filtres  */

/* Utilisation de Flexible pour aligner les filtres */
#filtre {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

/* Utilisation de flex-wrap pour faciliter l'affichage lors de la
réduction de fenêtre */


#filtre ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding-left: 20px;
}
#filtre ul li {
    display: flex;
    margin-right: 13px;
    align-items: center;
    height: 44px;
    margin-top: 10px;
    padding-right: 12px;
    width: auto;
    border: solid 2px #c2bdbd8c;
    border-radius: 22px;
}

#filtre p {
    margin-top: 18px;
}

.icone_filtre_arrondie {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 44px;
    width: 44px;
    margin-right: 10px;
    margin-left: -3px;
    border-radius: 50%;
    background-color: #DEEBFF;
    color: #0065fc;
}

#filtre ul li:hover {
    background: #0065FC;
    color: white;
    cursor: pointer;
}
  

/* Utilisation de flexbox pour aligner l'icone avec le texte */
#information {
    display: flex;
    align-items: center;
    width: 100%;
    height: 20px;
    padding-top: 5px;
    padding-bottom: 10px;
}

#icone_info_arrondie {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 20px;
    border: solid 1px #c2bdbd8c;
    border-radius: 50%;
}

/* Utilisation de border-radius: 50% pour arrondir les contours */
.fa-info {
    padding: 7px 11px 7px 11px;
    color: #0065fc;
    font-size: 9px;
  }

#information p {
    margin-left: 5px;
}

#hebergement {
    display: flex;
    justify-content: space-between;
    max-width: 992px;
    max-height: 100%; 
    margin-top: 20px;
    margin-bottom: 20px;
}
/* ---------------------------------- */
/* Section: Hébergement de Marseille  */
/* -----------------------------------*/

#hebergement_marseille {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */

    width: 65%;
    height: 483px;

    background-color: #F2F2F2;
    padding: 20px;
    border-radius: 15px 15px 15px 15px;
}

#container_hebergement {
    display: flex;
    flex-wrap: wrap;  
    justify-content: center;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 101, 252, 0.2);
    transition: 0.3s;
    width: 183px;
    height:160px;
    padding: 0.7%;
    border-radius: 15px 15px 15px 15px;
    background-color: white;
    display: flex;
    flex-direction: column;
    margin: 7px;
}
  
#hebergement_marseille h2 {
    padding-left: 2%;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 101, 252, 0.8);
    cursor: pointer;
}
  
.img_hebergement {
    width:100%;
    height: 60%;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}

.container_card {
    width:100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    padding-left: 5%;
}

.container_card p, i
{
  margin-top: 1%;
  margin-bottom: 0;
}

#hebergement_marseille a {
    font-size: 15px ;
    color: black;
    text-decoration: none;
    font-weight:bold;
    padding-top: 2%;
    padding-left: 2%;
}

/* -------------------------------------------- */
/* Section: Hébergement pupulaire de Marseille  */
/* ---------------------------------------------*/
#hebergement_marseille_pupulaire
{
    width: 32%;
    height: 483px;
    display: flex;
    flex-direction: column;
    
    background-color: #F2F2F2;
    /* justify-content: space-between; */
    padding: 20px;
    border-radius: 15px 15px 15px 15px;
}

#txt_pupulaire_icone h2{
    padding-left:  0;
}

#txt_pupulaire_icone {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

#test_center {
    display: flex;
    align-items: center;
}

.fa-chart-line {
    font-size: 20px;
    text-align: center;
}

#container_populaire {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

.card_pupulaire {
    display: flex;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 101, 252, 0.2);
    margin-top: 17px;
    transition: 0.3s;
    width:100%;
    height:29%;
    padding: 0.7%;
    border-radius: 15px 15px 15px 15px;
    margin: 7px;
}


.resize {
    width:70%;
    height: 100%;
} 

.img_hebergement_populaire {
  width:100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px 0 0 15px;
}
  
.card_pupulaire:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 101, 252, 0.8);
  cursor: pointer;
}

.container_card_pupulaire {
  width:100%;
  height:90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 5%;
}



.container_card_pupulaire p, i
{
  margin-top: 1%;
  margin-bottom: 1%;
}