header, #section_filtre, #section_hebergement_marseille,#section_hebergement_marseille_pupulaire, #section_activite_marseille  {
    margin: 0 4% 0 4%;
}

nav {
    margin: 0 4% 30px 4%;
}

/* ---------------- */
/* Section: Filtre  */
/* -----------------*/

#filtre ul li, #filtre p {
    margin-bottom: 12px;
}

/* ---------------------------------- */
/* Section: Hébergement de Marseille  */
/* -----------------------------------*/

#hebergement {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
}

#section_hebergement_marseille {
    width: 92%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;

}

/* -------------------------------------------- */
/* Section: Hébergement pupulaire de Marseille  */
/* ---------------------------------------------*/

#section_hebergement_marseille_pupulaire {
    width: 92%;
    height: auto;
}

#container_populaire {
    flex-direction: row;
}

.lien_card_pupulaire {
    width: 31%;
    height: 120px;
    margin: 1.65%;
}

#txt_pupulaire_icone {
    padding: 0 1.65% 0 1.65%;
}

/* --------- */
/* Footer    */
/* --------- */

.footer_list {
    padding-left: 4%;
}