/* ------------------------------- */
/* Nav =  Logo Booki + navigation  */
/* ------------------------------- */

nav {
    flex-direction: column;
}

nav {
    margin-left: 0;
    margin-right: 0;
}

#logo_booki {
    display: flex;
    justify-content: center;
}

#nav_booki a {
    font-size: 16px;
}

nav a:nth-child(1) {
    padding-bottom: 10px;
    border-bottom: 4px solid #0065FC;
    border-top: 2px solid #ffffff;
}

nav a:nth-child(2) {
    padding-bottom: 10px;
    border-bottom: 4px solid #c2bdbd8c;
}

nav a {
    flex:1;
    text-align: center;
}

nav a:nth-child(2):hover {
    border-bottom-color:#0065FC ;
    border-top-color:white;
}


/* -------------------------------- */
/* Header: introduction de la page  */
/* -------------------------------- */

#button-research-mobile {
    visibility:visible;
    position: absolute;
    bottom: 0;
    right: -3px;
    width: 44px;
    height: 44px;

    color: white;
    border: none;
    border-radius: 15px 15px 15px 15px;
    background-color: #0065FC;
}

#button-research-mobile:hover {
    cursor: pointer;
}

.bouton_rechercher {
    display: none;
}

#barre_ville {
    right: 29px;
}

#barre_recherche {
    width: 280px;
}

/* ---------------- */
/* Section: Filtre  */
/* -----------------*/

#filtre {
    
    align-items: flex-start;
    flex-direction: column;
}

#filtre ul {
    padding-left: 0;
}

#filtre p {
    margin-bottom: 0;
}

/* ---------------------------------- */
/* Section: Hébergement de Marseille  */
/* -----------------------------------*/


#section_hebergement_marseille {
    height: auto;
    background-color:white;
    padding: 0;
    border-radius: 0;
}

#section_hebergement_marseille h2 {
    margin-left: 0;
}

.lien_card {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}

/* -------------------------------------------- */
/* Section: Hébergement pupulaire de Marseille  */
/* ---------------------------------------------*/

#section_hebergement_marseille_pupulaire {    
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    /* padding: 0; */
    border-radius: 0;
    margin-left: 0;
    margin-right: 0;
    padding: 4%;
}

#container_populaire {
    flex-direction: column;
}

.lien_card_pupulaire {
    width: 100%;
}

#txt_pupulaire_icone {
    padding-left:  0;
    padding-right:  0;
}

.lien_card:nth-child(1) .img_hebergement {
    content:url(images/hebergements/3_medium/marcus-loke-WQJvWU_HZFo-unsplash.jpg);
}

.lien_card:nth-child(2) .img_hebergement {
    content:url(images/hebergements/3_medium/fred-kleber-gTbaxaVLvsg-unsplash.jpg);
}

.lien_card:nth-child(3) .img_hebergement {
    content:url(images/hebergements/3_medium/reisetopia-B8WIgxA_PFU-unsplash.jpg);
}

.lien_card:nth-child(4) .img_hebergement {
    content:url(images/hebergements/3_medium/annie-spratt-Eg1qcIitAuA-unsplash.jpg);
}

.lien_card:nth-child(5) .img_hebergement {
    content:url(images/hebergements/3_medium/nicate-lee-kT-ZyaiwBe0-unsplash.jpg);
}

.lien_card:nth-child(6) .img_hebergement {
    content:url(images/hebergements/3_medium/febrian-zakaria-M6S1WvfW68A-unsplash.jpg);
}

.afficher_plus {
    margin-left: 0;
    padding-top: 20px;
}


/* ---------------------------------- */
/* Section: Activités à Marseille     */
/* -----------------------------------*/

.group_activite {
    flex-wrap: nowrap;
    height:auto;
    margin-top: 7px;
    margin-bottom: 7px;
}

.lien_activite {
    width: 100%; 
    margin-top: 7px;
    margin-bottom: 7px;
    margin-right: 0;
}

.lien_activite:nth-child(1) {
    height:160px;
}

.lien_activite:nth-child(2) {
    height:160px;
}

.lien_activite:nth-child(3) {
    height:160px;
}

.lien_activite:nth-child(4) {
    height:160px;
}

.lien_activite:nth-child(5) {
    height:160px;
}

.lien_activite:nth-child(6) {
    height:160px;
}

.lien_activite:nth-child(1) .activite_image {
    content:url(images/activites/3_medium/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg);
}

.lien_activite:nth-child(2) .activite_image {
    content:url(images/activites/3_medium/paul-hermann-QFTrLdQIRhI-unsplash.jpg);
}

.lien_activite:nth-child(3) .activite_image {
    content:url(images/activites/3_medium/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg);
}

.lien_activite:nth-child(4) .activite_image {
    content:url(images/activites/3_medium/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg);
}

.lien_activite:nth-child(5) .activite_image {
    content:url(images/activites/3_medium/florian-wehde-xW9e8gdotxI-unsplash.jpg);
}

.lien_activite:nth-child(6) .activite_image {
    content:url(images/activites/3_medium/lena-paulin-wH2-EJoDcV0-unsplash.jpg);
}

/* Footer */

.footer_list {
    flex-direction: column;
    /* max-width: 768px; */
}