body {
 
    background-color: rgb(68, 0, 255);

}

header, main, footer  {
    max-width: 991px;
    max-height: auto;
    margin-left: 4%;
    margin-right: 4%;
}

nav {
    max-width: 991px;
    max-height: auto;
}



