.header-wrapper, .filter-wrapper, #card-accomodation-wrapper,#card-accomodation-popular-wrapper, #card-activity-wrapper  {
    margin: 0 4% 0 4%;
}

.nav-wrapper {
    margin: 0 4% 30px 4%;
}

#filter-content ul li, #filter-content h2  {
    margin-bottom: 12px;
}

#accomodation-wrapper {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
}

#card-accomodation-wrapper {
    width: 92%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;

}

#card-accomodation-popular-wrapper {
    width: 92%;
    height: auto;
}

#card-accomodation-popular-list {
    flex-direction: row;
}

.card-accomodation-popular-link {
    width: 31%;
    height: 120px;
    margin: 1.65%;
}

#card-accomodation-popular-text-icon {
    padding: 0 1.65% 0 1.65%;
}

.footer_list {
    padding-left: 4%;
}